* {
    background-color: darkslategray;
    color: wheat;
    margin: 0%;
    padding: 0%;

}

#mainHeader {
    font-family: 'Henny Penny', cursive;
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
}

#divShow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

#cardID {
    width: 20%;
    padding-right:2%;
    align-items: center;

}

#ImgStyle {
    width: 100%;
    height: 40%;
}

.allClass {
    display: flex;
    flex-direction: column;
    font-size:20px;
 
}

#titleId{
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}


#headerID {
    display: flex;
    font-size: 35px;
  
}

#InputID {
    width: 20%;
    height: 40px;
    border-color: wheat;
    align-items: center;
}

#sectionId {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#gifImg {
    width: 90vw;
    height: 90vh;
}