*{
    background-color: darkslategray;
    color: wheat;
    padding: 3px;
}

#divShow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    
}

#cardID{
    width: 25%;
}
#ImgStyle{
    width: 300px;
    height: 300px;
}

.allClass{
display: flex;
flex-direction: column;
}

#headerID{
    display: flex;
    font-size: 35px;
    
}

#InputID{
width: 20%;
height: 40px;
border-color:wheat ;
}

#sectionId{
   display: flex;
   align-items: center;
   margin: 5px;
}

#gifImg{
    width: 90vw;
    height: 90vh;
}